/* About Me */
.profileContainer {
  position: relative;    /* needed for absolute positioning of small image */
  width: 100%;           /* container spans full width */
  padding-top: 10vh;
}

.customProfile {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 35px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.3); */
  margin-top: 10px;
}

.headshot {
  width: auto;
  height: 50%;
  position: absolute;    /* layer on top */
  left: 10%;               /* align to left of container */
  bottom: -20%;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3); 
  border-radius: 20%;
}

.jobFocusedTxt .aboutmeTitle {
  text-align: center;
  font-style: oblique;
  margin-top: -20vh;
}


.jobFocusedTxt {
    padding-top: 25vh;
}
    

.jobFocusedCol {
    height: 200px;
    /*border: rgb(142, 142, 142) 2px outset;
    /* box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
    margin: 8px;
    text-align: center;
}

.quoteTop {
  font-size: 90px;
  color: rgb(135, 134, 134);
}

.quoteBottom {
  font-size: 90px;
  text-align: right;
  color: rgb(135, 134, 134);
}

@media (max-width: 768px) {
  .quoteTop, .quoteBottom {
    font-size: 45px;
  }
  .freelanceSection {
    padding-top: 4rem;
  }
}

@media (max-width: 950px) {
  .quoteBottom {
    padding-top: 5rem;
  }
}

h3, h5 {
  text-align: center;
}

.freelanceSection {
  display: block;
}

.processPar {
  text-align: center;
  padding-top: 15px;
}