/* Contact */
h1 {
  padding-top: 15vh;
  text-align: center;
}

.form {
  width: 50%;
  height: 50%;
  margin: auto;
}

ul {
  list-style-type: none;
  text-align: center;
}

.linkPackages {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume */
.resumeTxt {
    margin-top: 90px;
    text-align: center;
}

.resumeLink {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(178, 100, 5);
}

.resumeLink:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(245, 182, 105);
}

.resumeContainer {
  margin-top: 30px;
  margin-bottom: 30px;
} 