/* Contact */
h2 {
  padding-top: 15vh;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

.linkPackages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.packageLink {
  text-decoration: none;
  color: rgb(178, 100, 5);
}

.packageLink:hover {
  text-decoration: none;
  color: rgb(245, 182, 105);
}

/* Resume */
.resumeTxt {
    text-align: center;
}

.resumeLink {
  display: block;
  /* padding-top: 15vh; */
  text-align: center;
  text-decoration: none;
  color: rgb(178, 100, 5);
}

.resumeLink:hover {
  text-decoration: none;
  color: rgb(245, 182, 105);
}

.form {
  width: 90%;
  height: 90%;
  margin: auto;
  padding-top: 10vh;
}

#btnForm {
  background-color: rgb(247, 228, 199) !important;
  border-color: rgb(252, 232, 208) !important;
  color: rgb(59, 21, 0) !important;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

#btnForm:hover {
  background-color: rgb(178, 116, 84) !important;
  border-color: rgb(206, 158, 110) !important;
  color: rgb(255, 250, 250) !important;
}