/* NavBar */
.navbar {
  background-color: bisque;
  max-width: 400px; /* won’t stretch too wide */
  width: 90%; /* takes up 90% of the screen width */
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  margin: 10px auto;
  display: block;
  
  /* justify-content: center; /* centers horizontally */
  /* align-items: center; /* centers vertically */
  
}

.navTxt {
  margin: 0 10px; /* adds spacing between links */
}

/* Projects page */
.projectTitles {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  z-index: 2; /* above overlay */
}

.projectPreview {
  height: 80vh;
}

.projectSide {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0;         /* remove extra space */
  padding-top: 15px;        /* remove padding that causes gaps */
}

.projectSide img {
  width: 100%;
  height: 170px;      
  object-fit: cover;  /* crop nicely without stretching */
  display: block;     /* removes bottom whitespace */
  transition: transform 0.3s ease;
}

.projectSide:hover img {
  transform: scale(1.05); /* small zoom effect on hover */
}

.fullProjects {
  padding: 2rem;
  text-align: center;
}

.switchBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.imageContainer:hover img {
  transform: scale(1.05); /* optional zoom on hover */
}

/* Overlay layer */
.imageContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.672); /* semi-transparent black */
}

.card-img {
  height: 200px;           /* fixed height */
  object-fit: cover;        /* crop/fit image without stretching */
}


/*
.projectsPage {
  background-image: url("../assets/sitting.png");
}
  */

/* About Me */
.profileContainer {
  position: relative;    /* needed for absolute positioning of small image */
  width: 100%;           /* container spans full width */
}

.customProfile {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 35px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.headshot {
  width: auto;
  height: 50%;
  position: absolute;    /* layer on top */
  left: 10%;               /* align to left of container */
  bottom: -20%;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3); 
  border-radius: 20%;
}

.aboutmeTitle {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

.aboutmeTxt {
  margin-top: 150px;
}