/* Projects page */

.imageTitles {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  z-index: 2; /* above overlay */
}

.projectSide {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0;       
  padding-top: 15px;   
  transition: flex 0.8s ease, opacity 0.8s ease;    
}

.projectSide img {
  width: 100%;
  height: 170px;      
  object-fit: cover;  /* crop nicely without stretching */
  display: block;     /* removes bottom whitespace */
  transition: transform 0.3s ease;
}

.projectSide:hover img {
  transform: scale(1.05); /* small zoom effect on hover */
}

.switchBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* image headers */
.imageContainer {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
  margin-top: 10vh;
}

.imageContainer img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  
}

.imageContainer:hover img {
  transform: scale(1.05); /* optional zoom on hover */
}

/* Overlay layer */
.imageContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.672); /* semi-transparent black */
}

/* Projects */
.subjectTitles {
  padding-bottom: 10vh;
}

.fullProjects {
  text-align: center;
  margin-top: 5vh;
}

.card-Border {
  border-color: rgb(230, 222, 212) !important;
}


.card-img {
  height: 200px;           /* fixed height */
  object-fit: cover;        /* crop/fit image without stretching */
}

.extraTxt {
    color: rgb(143, 143, 143);
    font-size: 16px;
}

.letterlink {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  color: rgb(178, 100, 5);
}

.letterlink:hover {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  color: rgb(245, 182, 105);
}

/* Designer side */
.designer-title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.designer-img{
  width: 60%;
  height: 60%;
}

.designer-btn {
  background-color: rgb(247, 228, 199) !important;
  border-color: rgb(252, 232, 208) !important;
  color: rgb(59, 21, 0) !important;
}

.designer-btn:hover {
  background-color: rgb(178, 116, 84) !important;
  border-color: rgb(206, 158, 110) !important;
  color: rgb(255, 250, 250) !important;
  
  /*
  background-color: white !important;
  border-color: rgb(253, 181, 73) !important;
  color: rgb(244, 180, 83) !important;
  */
}
