/* Projects page */

.projectTitles {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  z-index: 2; /* above overlay */
}

.projectPreview {
  height: 80vh;
}

.projectSide {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0;       
  padding-top: 15px;   
  transition: flex 0.8s ease, opacity 0.8s ease;    
}

.projectSide img {
  width: 100%;
  height: 170px;      
  object-fit: cover;  /* crop nicely without stretching */
  display: block;     /* removes bottom whitespace */
  transition: transform 0.3s ease;
}

.projectSide:hover img {
  transform: scale(1.05); /* small zoom effect on hover */
}

.fullProjects {
  padding: 2rem;
  text-align: center;
  margin-top: 25vh;
}

.switchBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
  margin-top: 10px;
}

.imageContainer img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  
}

.imageContainer:hover img {
  transform: scale(1.05); /* optional zoom on hover */
}

/* Overlay layer */
.imageContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.672); /* semi-transparent black */
}

.card-img {
  height: 200px;           /* fixed height */
  object-fit: cover;        /* crop/fit image without stretching */
}

.extraTxt {
    color: rgb(143, 143, 143);
    font-size: 16px;
}
